extends layout

block content
  .card 
    .card-cover
    .card-body
      h1 Link Shortener
      p Make your link shorter and more concise!
      form(action="/" method="post")
        .form-row.mb-2
          input.mr-2(type="url" name="inputlink" required)
          button.btn.btn-secondary.btn-generate(type="submit") generate

      h5 
        | New Link: 
        a(href=newLink) #{newLink}&nbsp;
        img.mb-1.mr-3.copy-link(src="/images/copylink.svg" title="click this icon to copy link.")
      
      input.input-newlink(value=newLink)


          


